<h1>Hello World</h1>
{{title}}
<div>{{name}}</div>
<div>{{getNumber()}}</div>
<div>{{obj.role}}</div>
<div>{{arr}}</div>
<h2>{{arr[0]}} and length is {{arr.length}}</h2>
<h3>{{10*50}}</h3>
<h2>{{a + b}}</h2>
<h2>{{siteURL}}</h2>
<app-user></app-user>
<app-get-all></app-get-all>
<app-insert></app-insert>
<h1 *ngIf="show else elseblock">I am Visible ;)</h1>
<ng-template #elseblock>
    <h1>Hii there</h1>
</ng-template>
<input type="text" [value]="name"/><br>
<input type="text" value={{name}}/>
<button (click)="getName()">Get Name</button>

<button (click)="getId(1)">Get ID</button>
<button (click)="myEvent('this is a button')">Event</button><br><br>
<input type="text" #box (keyup.enter)="myEvent(box.value)"/>
<div style="background-color: aqua;" (mouseover)="getName()">Hello there</div>
<div style="background-color: rebeccapurple;" (mouseleave)="getName()">Hello there</div>
